<!DOCTYPE html>
<html>
<head>
  <title>Tripea</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("/images/logo.png"), :root, class: "brand" %> 
			<button class="register_button floatRight">Notify me</button>
		</div>
	</div>
</div>

<div class="carousel slide">
	
	<div class="item active"> 
		<img src="/images/background3.jpg" /> 
		<div class="container">
			<div class="carousel-caption">
				<p>CREATE YOUR TRIP IN AFUN AND SIMPLE WAY</p>
			</div>
		</div>
	</div>
	<div class="item"> </div>
	<div class="item"> </div>

</div>



<%= yield %>


<div class="container">
	<div class="span12 ">
		<ul class="nav footerNav">
						<li><a href="#"> About us </a></li>
						<li><a href="#"> Contact us </a></li>
						<li><a href="#"> Blog </a></li>
						<li><a href="#"> Register </a></li>
		</ul>
	</div>
	
</div>

<div id="social-footer" class="container">
	<ul class="icons"> 
		<li><a href="http://www.google.com"><img src="/images/facebook-logo.png"></li>
		<li><a href="#"><img src="/images/twitter-logo.png"></li>
		<li><a href="#"><img src="/images/tumblr-logo.png"></li>
		<li><a href="#"><img src="/images/instagrm-logo.png"></li>
	</ul>
</div>

</body>
</html>
